{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="col-sm-10">
    <h3 class="text-white my-5">Contact PAGE</h3>
    <form method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group">
                <label for="inputname">Name</label>
                <input type="text" class="form-control" id="inputname" name="name" value="{{ form.name.value|default_if_none:'' }}" readonly>
            </div>
            <div class="form-group">
                <label for="inputemail">Email</label>
                <input type="email" class="form-control" id="inputemail" name="email" value="{{ form.email.value|default_if_none:'' }}" readonly>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" id="message" rows="3" name="message">{{ form.message.value|default_if_none:'' }}</textarea>
            </div>
        </div><br>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>

{% endblock content %}
